@import "bootstrap/scss/bootstrap";

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

.product-card > img {
    height: 415px;
    width: 415px;
}

.pagination {
    margin-left: 10px;
}

.auth-user, .admin-dashboard {
    white-space: nowrap;
}

.auth-user {
    font-weight: bold;
}

.product-link {
    text-decoration: none;
}
